<app-title  title="Lista de usuarios"/>






<!------------------------------------------------>

<ul role="list" class="divide-y divide-gray-100">

    @for(user of usersServices.users(); track user.id) {
        <li class="flex justify-between gap-x-6 py-5">
            <div class="flex min-w-0 gap-x-4">

                <img class="h-12 w-12 flex-none rounded-full bg-gray-50" 
                    [srcset]="user.avatar"
                    [alt]="user.first_name"
                />

                <div class="min-w-0 flex-auto">
                    <a
                        [routerLink]="['/dashboard/user', user.id]"
                        class="mx-5 hover:underline"
                    >
                        {{user.first_name}} {{user.last_name}}
                    </a>
                    <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{user.email}}</p>
                </div>

            </div>
            <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                <p class="text-sm leading-6 text-gray-900">Neurología</p>
                <p class="mt-1 text-xs leading-5 text-gray-500">Last seen <time datetime="2023-01-23T13:23Z">3h ago</time></p>
            </div>
        </li>
    } @empty {
        <h2> Cargando Data </h2>
    }

</ul>