<div class="min-h-full flex">
    <!-- Izquierda: Imagen más grande sin marco -->
    <div class="w-80 h-100 overflow-hidden">
      <img class="w-full h-full object-cover" src="../../../../assets/images/login/ambulancia.svg" alt="Your Company">
  </div>
<!-- Derecha: Formulario de Crear Cuenta -->
<div class="flex-1 bg-white p-6 flex-container">
  <h1 class="text-2xl font-bold mb-4">Crear Cuenta</h1>

  <div class="flex-row">
      <div class="flex-1">
          <label for="username" class="block font-semibold text-gray-900">Nombres de usuario</label>
          <input id="username" name="username" type="text" class="block w-full rounded-md border p-1.5">
      </div>
      <div class="flex-1">
          <label for="lastname" class="block font-semibold text-gray-900">Apellidos del usuario</label>
          <input id="lastname" name="lastname" type="text" class="block w-full rounded-md border p-1.5">
      </div>
  </div>

  <div class="flex-row">
      <div class="flex-1">
          <label for="dni" class="block font-semibold text-gray-900">DNI</label>
          <input id="dni" name="dni" type="number" class="block w-full rounded-md border p-1.5">
      </div>
      <div class="flex-1">
          <label for="email" class="block font-semibold text-gray-900">Correo electrónico del usuario</label>
          <input id="email" name="email" type="email" class="block w-full rounded-md border p-1.5">
      </div>
  </div>

  <div class="flex-row">
      <div class="flex-1">
          <label for="birthdate" class="block font-semibold text-gray-900">Fecha de nacimiento</label>
          <input id="birthdate" name="birthdate" type="date" class="block w-full rounded-md border p-1.5">
      </div>
      <div class="flex-1">
          <label for="phone" class="block font-semibold text-gray-900">Número de celular</label>
          <input id="phone" name="phone" type="number" class="block w-full rounded-md border p-1.5">
      </div>
  </div>

  <div class="flex-row">
      <div class="flex-1">
          <label for="password" class="block font-semibold text-gray-900">Crea una contraseña</label>
          <input id="password" name="password" type="password" class="block w-full rounded-md border p-1.5">
      </div>
      <div class="flex-1">
          <label for="confirmPassword" class="block font-semibold text-gray-900">Confirma tu contraseña</label>
          <input id="confirmPassword" name="confirmPassword" type="password" class="block w-full rounded-md border p-1.5">
      </div>
  </div>

  <button id="create-account-btn" type="submit">Crear cuenta</button>

  <!-- Texto para iniciar sesión centrado -->
  <p class="mt-4 text-sm text-gray-500 flex items-center justify-center">
        ¿Ya tienes una cuenta? <a href="#" id="login-link" class="font-semibold hover:underline">Inicie sesión</a>
  </p>
</div>
</div>